# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
builds/

# Metadata
*.aliases
*.lvlps
*.bldcache


# Dev enviroment settings
.vscode/

~$*.ppt*
